<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Form</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <script src="{{url_for('static', filename='graphFunctions.js')}}"></script>
</head>

<body>
  <div class="container">
    <label class="constraintLab">Event Name</label>
    <input type="text" class="constraintIn" id="EventName">

    <label class="constraintLab">Event Type</label>
    <select class="constraintIn" id="EventType">
    </select>

    <label class="constraintLab">Event Start</label>
    <input type="date" class="constraintIn" id="StartDate">

    <label class="constraintLab">Start of Bookings</label>
    <input type="date" class="constraintIn" id="StartBookings">

    <label class="constraintLab">From Date (Current Date)</label>
    <input type="date" class="constraintIn" id="FromDate">

    <label class="constraintLab">Number of bookings</label>
    <input type="text" class="constraintIn" id="GroupSize">

    <div id="warnDiv"></div>

    <button type="button" id="getPredictionButton" onclick="test()">Get Prediction</button>

    <label class="graphLab">Prediction</label>
    <img Id="graph" src="">
  </div>
</body>

</html>
