<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='graphFunctions.js')}}"></script>
    </head>
    <body>
        <input type="text" id="eventType">
        <input type="text" id="startDate">
        <input type="text" id="fromDate">
        <input type="text" id="bookingStart">
        <input type="text" id="bookings"> 
        <input type="button" id="getPredictionButton" onclick="test()">
        <img Id="graph" src="">
    </body>
</html>